header {
    height: 35px;
    border: 1px solid black;
  }
  .logo {
    float: left;
    height: 35px;
  }
  .upp {
    font-size: 17px;
    font-family: 'VT323', monospace;
    float: left;
  }
  .up {
    position: absolute;
    top: 0px;
    left: 50px;
    list-style-type: none;
  }
  .middle {
    background-color: #C4C4C4;
    height: 1250px;
}
.contact {
  position: relative;
    top: 20px;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 48px;
}
.email {
    position: relative;
    top: 70px;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 40px;
}
.phone {
    position: relative;
    top: 120px;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 40px;
}
.buttonOne {
  height: 40px;
  width: 150px;
  top: 170px;
  font-family: 'VT323', monospace;
  position: relative;
  font-size: 20px;
  background-color: #C4C4C4;
}
.buttonTwo {
  height: 40px;
  width: 150px;
  top: 200px;
  font-family: 'VT323', monospace;
  position: relative;
  font-size: 20px;
  background-color: #C4C4C4;
}
